In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import plotly.express as px

In [2]:
admin_df = pd.read_csv('../Data/2020 Domestic Violence - Administrative Data.csv', encoding='ISO-8859-1',skiprows=7)
other_df = pd.read_csv('../Data/2020 Domestic Violence - Other Data.csv', encoding='ISO-8859-1',skiprows=7)
location_df = pd.read_csv('../Data/2020 Q1 Domestic Violence - Location Type.csv', encoding='ISO-8859-1',skiprows=6)
#n

In [12]:
location_df['Primary Location Type'].value_counts()

Residence/Home                        18440
Highway/Road/Alley                     2232
Parking Lot/Garage                     1440
School  Elementary/Secondary          1133
Hotel/Motel/Etc.                        600
Restaurant                              478
Other/Unknown                           465
Convenience Store                       429
Jail/Prison                             284
Department/Discount Store               249
Bar/Night Club                          237
Commericial/Office Building             215
Hospital                                208
Government/Public Building              173
Grocery/Supermarket                     171
Service/Gas Station                     157
Specialty store (TV, Fur, etc.)         109
School  College/University             106
Park/Playground                         105
Church/Synagogue/Temple                  70
Air/Bus/Train Terminal                   69
Field/Woods                              60
Shelter - Mission/Homeless               51
Doctor's Office                          47
Community Center                         37
Industrial Site                          29
Shopping Mall                            29
Construction Site                        27
Camp/Campground                          26
Auto Dealership New/Used                 25
Bank/Savings and Loan                    23
Daycare Facility                         21
Arena/Stadium/Fairgrounds/Coliseum       19
Library                                  19
Rental Storage Facility                  16
Abandoned/Condemned Structure            16
Liquor Store                             14
Pharmacy                                 10
Auto Salvage/Junkyard                    10
Amusement Park                            9
Dock/Wharf/Freight/Modal Terminal         7
Lake/Waterway                             7
Rest Area                                 6
Carport                                   5
Cemetery                                  3
Farm Facility                             3
Movie Theater                             3
Museum                                    2
ATM Machine Separate from Bank            2
Loan/Cash Advance                         2
Military Installation                     2
Pawn Shop                                 2
Tattoo Parlor                             1
School/College(Historical Only)           1
Name: Primary Location Type, dtype: int64

In [3]:
for id in admin_df['ORI'].unique():
    if len(admin_df.loc[admin_df.ORI == id]) > 1:
        print(id)
        break

TN0410000

In [9]:
admin_df.iloc[69284]

ORI                                                TN0840000
Incident Number                                2010010806.00
Incident Date                                        7/13/20
Report Date Indicator                                    NaN
Hour of Day                                   12:00n-12:59pm
Incident Clearance                         Cleared by Arrest
Exceptional Clearance Date                               NaN
Address                       32,CULLUM LN,,MUNFORD,TN,38058
Cargo Theft                                          Missing
Name: 69284, dtype: object

In [8]:
admin_df.iloc[69285]

ORI                                                TN0840000
Incident Number                                2010010806.00
Incident Date                                        7/13/20
Report Date Indicator                                    NaN
Hour of Day                                   12:00n-12:59pm
Incident Clearance                         Cleared by Arrest
Exceptional Clearance Date                               NaN
Address                       32,CULLUM LN,,MUNFORD,TN,38058
Cargo Theft                                          Missing
Name: 69285, dtype: object

In [4]:
admin_df.loc[admin_df.ORI == 'TN0410000']

,ORI,Incident Number,Incident Date,Report Date Indicator,Hour of Day,Incident Clearance,Exceptional Clearance Date,Address,Cargo Theft
0,TN0410000,20010101-133,1/1/20,NaN,1:00pm-1:59pm,Not Cleared,NaN,"5610,HWY 230 EAST,,LYLES,TN,37098",Missing
4,TN0410000,200103-2142,1/3/20,NaN,9:00pm-9:59pm,Cleared by Arrest,NaN,"6622,WOODLAND PARK CIR.,,NUNNELLY,TN,37137",Missing
30,TN0410000,200104-1340,1/4/20,NaN,1:00pm-1:59pm,Not Cleared,NaN,"108,cOLLEGE aVE.,,cENTERVILLE,TN,37033",Missing
31,TN0410000,200104-1340,1/4/20,NaN,1:00pm-1:59pm,Not Cleared,NaN,"108,cOLLEGE aVE.,,cENTERVILLE,TN,37033",Missing
32,TN0410000,200105-0228,1/4/20,NaN,5:00pm-5:59pm,Not Cleared,NaN,"10900,N. TIDWELL RD.,,BON AQUA,TN,37025",Missing
...,...,...,...,...,...,...,...,...,...
68861,TN0410000,200306-2025,3/6/20,NaN,8:00pm-8:59pm,Cleared by Arrest,NaN,"9395,BATES TRL,,LYLES,TN,37098",Missing
68862,TN0410000,200617-1616,6/17/20,NaN,4:00pm-4:59pm,Cleared by Arrest,NaN,"6535,BROWN HOLLOW RD,,LYLES,TN,37098",Missing
68863,TN0410000,200719-1226,7/19/20,NaN,12:00n-12:59pm,Not Cleared,NaN,"7757,CROSSROADS BLVD,,LYLES,TN,37098",Missing
68881,TN0410000,200809-0245,8/9/20,NaN,2:00am-2:59am,Victim Refused to Cooperate,8/9/20,"2409,HIDDEN VALLEY RD,,NUNNELLY,TN,37137",Missing
68882,TN0410000,201013-0746,10/13/20,NaN,7:00am-7:59am,Cleared by Arrest,NaN,"911,HWY 100 W,,CRENTERVILLE,TN,37033",Missing

In [18]:
admin_df['id'] = admin_df['ORI'] + admin_df['Incident Number'] + admin_df['Incident Date']

In [4]:
print(len(admin_df))
admin_df.drop_duplicates(inplace=True)
print(len(admin_df))

69299
60054

In [21]:
for id in admin_df.id.unique():
    if len(admin_df.loc[admin_df.id == id]) > 1:
        print(id)
        break

TN0150100202001000000.001/2/20

In [22]:
admin_df.loc[admin_df.id == 'TN0150100202001000000.001/2/20']

,ORI,Incident Number,Incident Date,Report Date Indicator,Hour of Day,Incident Clearance,Exceptional Clearance Date,Address,Cargo Theft,key,keys,id
1,TN0150100,202001000000.00,1/2/20,NaN,1:00am-1:59am,Cleared by Arrest,NaN,"342,CLIFTON HEIGHTS RD,,NEWPORT,TN,37821",Missing,0 TN0410000\n1 TN0150100\n2 ...,TN0150100202001000000.00,TN0150100202001000000.001/2/20
3,TN0150100,202001000000.00,1/2/20,NaN,11:00am-11:59am,Cleared by Arrest,NaN,"641,MYERS CIRCLE,,NEWPORT,TN,37821",Missing,0 TN0410000\n1 TN0150100\n2 ...,TN0150100202001000000.00,TN0150100202001000000.001/2/20

In [23]:
60054 - len(admin_df.id.unique())

78